.navbar-vertical-label{
    color:#818CE4 !important;
    font-size:12px !important;
}

.nav-link-text{
    color:#B8BABF !important;
    font-size:14px !important;
    margin-left:10px !important;
}

.nav-link-text:hover{
    color:#111827 !important;
}

.nav-link.dropdown-indicator.label-1:hover{
     color:#111827 !important;
}

.nav-link-icon{
    color:#B8BABF !important;
}

.navbar-vertical-label-under{
    color:#B8BABF !important;
    font-size:12px;
    margin-left:32px;
    margin-top:-8px;
}

.form-control.search-input.search{
    /*border-radius:30px !important;*/
}

.content{
    /*background-color:#F1F5F9;*/
}

.navbar-vertical-footer{
    background-color:#1E283D !important;
    color:white;
    border-top:1px solid #373E53 !important;
}

.btn.p-0.border.border-200.btn-support-chat{
    background-color:#EF5350 !important;
    color:white !important;
}

.btn.p-0.border.border-200.btn-support-chat span{
    color:white !important;
}

.svg-inline--fa.fa-circle.text-success.fs--1.ms-2{
    color:white!important;
}

.card-body.d-flex.align-items-center.px-2.py-1{
    background-color:#111827 !important;
    color:white !important;
    border-radius:17px 17px 0px 0px;
}

.icon-spin.position-absolute.all-0.d-flex.flex-center svg{
    color:white !important;
}

.text-uppercase.text-700.fw-bold.py-2.pe-2.ps-1.rounded-end{
    color:white!important;
}

#usermenu{
    float:left;
    border:0px solid red;
    height:200px;
    width:100%;
    margin-bottom:0px;
}

#span1{
    float:left;
    width:93px;
    height:90px;
    margin-left:80px;
    border:0px solid white;
    font-size:65px;
    font-weight:600;
    padding:0px 0px 0px 0px;
    background-color:black;
    color:white;
    border-radius:130px;
}

#span2{
    float:left;
    text-align:center;
    margin-top:30px;
    width:100%;
    font-size:15px;
    color:white;
    border:0px solid blue;
}

#span3{
    float:left;
    text-align:center;
    width:100%;
    font-size:14px;
    color:#8C969C;
    font-weight:700;
    border:0px solid yellow;
}

.navbar-vertical-label-under{
    font-size:12px !important;
}

.navbar.navbar-vertical.navbar-expand-lg{
    background-color:#111827 !important;
}

.collapse.navbar-collapse div ul li div #span1{
    /*width:0px !important;
    height:0px !important;*/
}

.collapse.navbar-collapse div ul li div{
    /*width:0px !important;
    height:20px !important;*/
}

.btn.btn-primary{
    /*border-radius:30px !important;*/
    /*background-color:#4F46E5 !important;*/
}

#h2top{
    margin-top:0px;
}

.nav-item a{
/*font-size:13px !important;*/
}

.nav-link{
    /*color:#3874ff !important;*/
}

.nav-link:hover{
    text-decoration: underline;
}

.fw-bolder.mb-2{
    font-size:17px;
}

.fw-bold{
    font-size:12px;
}

#otropciones{
    margin-top:50px;
}

.d-flex.align-items-center span{
    color:#31374A;
    font-size:14px;
}

.d-flex.align-items-center span:hover{
    color:#3874ff;
}

#imgcompany{
    margin-top:-30px;
    border:0px solid red;
}
/*
.nav-link.pe-3{
    color:black !important;
}

.nav-link.pe-3:hover{
    color:#3874ff !important;
}

.nav-link.pe-3:focus{
    color:#3874ff !important;
}*/






.navbar.navbar-top.fixed-top.navbar-expand{
        background-color:#111827 !important;
        border:0px solid;
}

.logo-text.ms-2.d-none.d-sm-block{
    color:white;
}

.nav-link{
    /*color:#9FA6BC;*/
}

.form-control.search-input.fuzzy-search.rounded-pill.form-control-sm{
    background-color:#0F111A;
    border: 2px solid #373E53;
    border-radius:30px !important;
}

#span6a{
    float:left;
    width:100%;
    border:0px solid green;
    color:#8C969C;
    text-align:center;
    font-weight:600;
    margin-left:0px;
    font-size:12px;
    border:0px solid red;
    margin-bottom:20px;
}

#span4{
    float:left;
    border:0px solid red;
    color:#848B9D;
    width:100%;
    text-align:center;
    margin-left:0px;
    font-weight:600;
    font-size:12px;
}

#span5{
    float:left;
    border:0px solid red;
    color:#848B9D;
    text-align:center;
    font-weight:600;
    width:100%;
    margin-left:0px;
    font-size:12px;
}

#span6{
    float:left;
    width:100%;
    border:0px solid green;
    color:#848B9D;
    text-align:center;
    font-weight:600;
    margin-left:0px;
    font-size:12px;
}



@media (max-width:990px){
    #span1{
        width:0px;
        height:0px;
    }

    #span2{
        width:0px;
        height:0px;
        font-size:0px;
    }

    #span3{
       width:0px;
       height:0px;
       font-size:0px;
    }

    #usermenu{
        height:0px;
    }
}